# Tarea 1

Fecha de entrega:
Jueves 7 de agosto, 2025, 11:59pm

Comentarios generales:

- No olvidar que python usa el snake_case (o minúsculas separadas por subguión) para llamar a sus variables.
- No nombrar variables con acentos porque algunas veces, dependiendo de la máquina en la que se corra, esto será aceptado o no.
- Leer  claramente qué es lo que pide la pregunta.

Ejemplo:  Utilizando sólo los siguientes inputs numéricos: ```5``` y ```2```  , maneje los operadores tal que el output sea ```120```. Crea una variable con el resultado.

In [37]:
#Respuesta
e = 5**2 + 5**2 + 5**2 + 5**2 + (2**2)*5
print(e)

120

1.  Utilizando sólo los siguientes inputs: ```5``` y ```2```  , maneje los operadores tal que el output sea ```100```

In [38]:
e = (2**2)*(5**2)
print(e)

100

2. Evalúa que el output del ejemplo sea mayor al output de 1. Crea una variable con esta evaluación (Hint: Será un booleano).

In [39]:
evaluacion = 120 > 100
print (evaluacion)

True

3. Utilizando sólo los siguientes inputs: ```51``` maneja los operadores tal que el output sea ```0```

In [40]:
resultado = int(not 51)
print(resultado)

0

4.  Utilizando sólo los siguientes inputs: ```2``` (todos los 2 que necesites) maneja los operadores tal que el output sea ```5```

In [41]:
resultado = (2*2)+(2//2)
print(resultado)

5

5. Crea una variable ```x``` y una variable ```y``` que sumen 2500. Crea una variable ```v``` que dé un booleano, tal que evalúe que ```x + y``` sea igual a 2200.

In [42]:
x = 1000
y = 1500
e = (x+y)
print(e)
v = e == 2200
print(v)

2500
False

6. Cree una variable ```z``` y una variable ```a``` que sumen 1000.

In [43]:
z = 500
a = 500
e = z+a
print(e)

1000

7. Calcula cuántas horas trabajan en total los 130 congresistas de nuestro país en un año. Asume que trabajan 40 horas a la semana, por 48 semanas al año (considerando que tienen vacaciones y no trabajan sobretiempo).

In [ ]:
horas_por_semana=40
semanas_al_año=48
congresistas=130
horas_trabajadas_al_año= horas_por_semana*semanas_al_año
h=horas_trabajadas_al_año*congresistas
print("Horas que trabajan los 130 congresistas al año:",h)

Horas que trabajan los 130 congresistas al año: 249600

8. Ahora calcula el salario de un congresista por hora. Los supuestos del anterior ejercicio se mantienen (Se puede pasar por alto las vacaciones). Cabe recordar que los congresistas ganan 15,600 soles mensuales.   
- Crea una variable para el salario por hora de un congresista.   
- Crea una variable para la suma de los salarios por hora de los 130 congresistas.

In [22]:
salario_mensual = 15600
horas_mes = 8*5*4   #son 8 horas * 5 días * 4 semanas
congresistas = 130
salario_hora = salario_mensual / horas_mes
suma_de_salarios_hora = salario_hora * congresistas
print("Salario por hora de un congresista:", salario_hora)
print("Suma de salarios por hora de todos los congresistas:", suma_de_salarios_hora)

Salario por hora de un congresista: 97.5
Suma de salarios por hora de todos los congresistas: 12675.0

9. Con la reducción del IGV para restaurantes y hoteles (https://emprender.sunat.gob.pe/tributando/temas-actualidad/reduccion-igv-para-restaurantes-hoteles), los restaurantes pagan el 10% de IGV. Un restaurante factura 3426 soles diarios, en promedio, después de impuestos. Calcule el valor base (el IGV es 10% sobre el valor base, ó 1 + .1).

Calcule, utilizando el valor base, cuánto es el descuento del IGV en soles (o el 8% de este valor base).

Cree una variable para cada uno de los siguientes:
- porcentaje de IGV
- el total de facturación
- el monto del impuesto
- el valor base sin impuesto
- el descuento de IGV en soles. Puedes comprobar tu fórmula con cualquier recibo de pago que detalle el IGV.

In [36]:
porcentaje_de_IGV = 0.10
total_de_facturación = 3426
valor_base = total_de_facturación / (1 + porcentaje_de_IGV)
monto_IGV = porcentaje_de_IGV * valor_base
valor_base_sin_impuestos = total_de_facturación/(1+0.10)
descuento_de_IGV=0.08*valor_base_sin_impuestos

print("Porcentaje de IGV:", porcentaje_de_IGV)
print("Total de facturación:", total_de_facturación)
print("Monto del impuesto:", monto_IGV)
print("Valor base sin impuesto:", valor_base_sin_impuestos)
print("Descuento de IGV:", descuento_de_IGV)

Porcentaje de IGV: 0.1
Total de facturación: 3426
Monto del impuesto: 311.4545454545455
Valor base sin impuesto: 3114.5454545454545
Descuento de IGV: 249.16363636363636

10.  Cristina percibe el sueldo mínimo (1130 soles). Compruebe que el salario anual de Cristina es menor al salario anual de un congresista, usando operadores de comparación y una expresión que detalle el monto mensual y el número de meses trabajados de ambos. La comparación debe ser ser evaluada a un booleano

In [44]:
salario_anual_cristina= 1130*12
salario_anual_congresista= (15600)*12
salario_anual_cristina<salario_anual_congresista

True

11. Una conocida petrolera debe volver a compensar a  1023 familias que se dedican a la pesca por la contaminación causada en el mar donde pescan. El nuevo monto negociado es de 1200 millones de soles, sin embargo, una cláusula del contrato dice que el monto de compensación tiene que ser un número entero. ¿Cuántos soles adicionales se le  tiene  que agregar al monto negociado para que las familias reciban una cantidad entera,  asumiendo que para lograr este número entero, hay que elevar el monto total? (Pista: Acuérdate del  floor y el módulo).

In [34]:
monto = 1_200_000_000
familias = 1023

compensacion_actual = monto / familias
compensacion_floor = monto // familias

sobrante = monto % familias

# Calculamos los soles adicionales (si sobrante = 0, no hay que agregar nada)
if sobrante == 0:
    adicional = 0
else:
    adicional = familias - sobrante

print("Compensación actual por familia (con decimal):", compensacion_actual)
print("Compensación redondeada hacia abajo (floor):", compensacion_floor)
print("Resto al dividir (módulo/residuo):", sobrante)
print("Soles adicionales que se deben agregar:", adicional)

Compensación actual por familia (con decimal): 1173020.5278592375
Compensación redondeada hacia abajo (floor): 1173020
Resto al dividir (módulo/residuo): 540
Soles adicionales que se deben agregar: 483

12. Crea una variable igual a una lista que contenga:
- un string,
- un booleano,
- dos valores numéricos (de cualquier tipo) y
- una lista de dos strings con el nombre de tus artistas musicales favoritos.

In [45]:
texto_1 = "Hola mundo"
lista_a = ["Bangtan Seonyondan", "Illit", True]
lista_1 = [texto_1, lista_a, 55, 0.5]
print(lista_1)

['Hola mundo', ['Bangtan Seonyondan', 'Illit', True], 55, 0.5]

13. Tenemos la siguiente lista de cursos:

In [48]:
cursos = ["Ciencia Politica", "Economia", "Antropologia", "Sociologia", "Relaciones Internacionales"]
print(cursos)

['Ciencia Politica', 'Economia', 'Antropologia', 'Sociologia', 'Relaciones Internacionales']

Realiza las siguientes operaciones en bloques diferentes:
- Calcula cuántos elementos tiene la lista.

In [49]:
len(cursos)

5

13.1. Agrega tres cursos adicionales de 3 formas diferentes (uno por forma):
   - Suma (+) una lista que contenga un curso adicional.
   - Usa el append.
   - Usa el extend.

In [51]:
cursos = ["Ciencia Politica", "Economia", "Antropologia", "Sociologia", "Relaciones Internacionales"]
cursos = cursos + ["Finanzas"]
print(cursos)

['Ciencia Politica', 'Economia', 'Antropologia', 'Sociologia', 'Relaciones Internacionales', 'Finanzas']

In [52]:
cursos = ["Ciencia Politica", "Economia", "Antropologia", "Sociologia", "Relaciones Internacionales"]
cursos.append("Derecho")
print(cursos)

['Ciencia Politica', 'Economia', 'Antropologia', 'Sociologia', 'Relaciones Internacionales', 'Derecho']

In [53]:
cursos = ["Ciencia Politica", "Economia", "Antropologia", "Sociologia", "Relaciones Internacionales"]
cursos.extend(["Arquitectura"])
print(cursos)

['Ciencia Politica', 'Economia', 'Antropologia', 'Sociologia', 'Relaciones Internacionales', 'Arquitectura']

13.2.
- Usa la indexación para señalar a _Relaciones Internacionales_.

In [54]:
cursos[4]

'Relaciones Internacionales'

13.3.
- Remueve el curso que menos te guste de la lista.

In [55]:
cursos = ["Ciencia Politica", "Economia", "Antropologia", "Sociologia", "Relaciones Internacionales"]
cursos.remove("Ciencia Politica")
print(cursos)

['Economia', 'Antropologia', 'Sociologia', 'Relaciones Internacionales']

14
Tenemos los siguientes números: 22, 27, 74.2, 16.8, 125, 80, 100.
 - Crea una lista con ellos.
 - Ordena la lista de menor a mayor.
 - Saca el promedio de los números de la lista.  
(Realiza cada uno en bloques separados).

In [56]:
numeros=[22,27,74.2,16.8,125,80,100]
print(numeros)
print(type(numeros))

[22, 27, 74.2, 16.8, 125, 80, 100]
<class 'list'>

In [57]:
numeros_ordenados=sorted(numeros)
print("Lista ordenada:", numeros_ordenados)

Lista ordenada: [16.8, 22, 27, 74.2, 80, 100, 125]

In [58]:
promedio=sum(numeros)/len(numeros)
print("Promedio:", promedio)

Promedio: 63.57142857142857

15.Utilizando un “if else” cree una estructura que evalúe “x” tal que:

Si x es múltiplo de 2 imprima “Es múltiplo de 2”.

Si x es múltiplo de 3 imprima “Es múltiplo de 3”

Si x es múltiplo de 2 y 3 imprima “Es múltiplo de 2 y 3”

Para otro caso, imprime “Otro caso”
Muestra un ejemplo con x = 6.

In [59]:
x = 6  # Se puede cambiar este valor para probar otros casos

if x % 2 == 0 and x % 3 == 0:
    print("Es múltiplo de 2 y 3")
elif x % 2 == 0:
    print("Es múltiplo de 2")
elif x % 3 == 0:
    print("Es múltiplo de 3")
else:
    print("Otro caso")

Es múltiplo de 2 y 3

16.Crea una función llamada clasificar_edad() que reciba como parámetro la edad de una
persona. La función debe clasificar a la persona en una de las siguientes categorías:

"Niño" si la edad es menor de 12 años.

"Adolescente" si la edad está entre 12 y 17 años.

“Joven” si la edad está entre 18 y 24 años.

"Adulto" si la edad está entre 25 y 64 años.

"Adulto Mayor" si la edad es mayor o igual a 65 años.

La función debe devolver la categoría correspondiente. Prueba la función con las edades de
10, 19, 25 y 70.

In [60]:
def clasificar_edad(edad):
    if edad < 12:
        return "Niño"
    elif 12 <= edad <= 17:
        return "Adolescente"
    elif 18 <= edad <= 24:
        return "Joven"
    elif 25 <= edad <= 64:
        return "Adulto"
    else:
        return "Adulto Mayor"

In [61]:
print("Edad 10:", clasificar_edad(10))

Edad 10: Niño

In [62]:
print("Edad 19:", clasificar_edad(19))
print("Edad 25:", clasificar_edad(25))

Edad 19: Joven
Edad 25: Adulto

In [63]:
print("Edad 70:", clasificar_edad(70))

Edad 70: Adulto Mayor